# Estimating filesize re recording time

In [1]:
from pathlib import Path

import numpy as np
import pandas as pd

In [2]:
txt_path = Path("field_records/filesize_printouts/")

In [3]:
df_unit07 = pd.read_csv(
    txt_path / "recover-20220715_unit07.txt",
    sep="\s+",
    header=None,
#     index_col=0,
)
df_unit07.columns = ["mode", "count", "user", "group", "size", "month", "date", "time", "filename"]

In [4]:
df_unit07

,mode,count,user,group,size,month,date,time,filename
0,-rw-r--r--,1,josie,ubna_bat,1310720,Jul,12,11:57,/mnt/ubna_data_01/recover-20220715/UBNA_007/20...
1,-rw-r--r--,1,josie,ubna_bat,46500488,Jul,12,11:59,/mnt/ubna_data_01/recover-20220715/UBNA_007/20...
2,-rw-r--r--,1,josie,ubna_bat,897500488,Jul,12,12:29,/mnt/ubna_data_01/recover-20220715/UBNA_007/20...
3,-rw-r--r--,1,josie,ubna_bat,897500488,Jul,12,12:59,/mnt/ubna_data_01/recover-20220715/UBNA_007/20...
4,-rw-r--r--,1,josie,ubna_bat,897500488,Jul,12,13:29,/mnt/ubna_data_01/recover-20220715/UBNA_007/20...
...,...,...,...,...,...,...,...,...,...
148,-rw-r--r--,1,josie,ubna_bat,0,Dec,31,1979,/mnt/ubna_data_01/recover-20220715/UBNA_007/20...
149,-rw-r--r--,1,josie,ubna_bat,0,Dec,31,1979,/mnt/ubna_data_01/recover-20220715/UBNA_007/20...
150,-rw-r--r--,1,josie,ubna_bat,0,Dec,31,1979,/mnt/ubna_data_01/recover-20220715/UBNA_007/20...
151,-rw-r--r--,1,josie,ubna_bat,8945664,Jul,15,14:30,/mnt/ubna_data_01/recover-20220715/UBNA_007/20...
152,-rw-r--r--,1,josie,ubna_bat,1040,Jul,12,11:58,/mnt/ubna_data_01/recover-20220715/UBNA_007/CO...

In [5]:
df_unit07["size"].value_counts()

897500488    119
0             30
1310720        1
46500488       1
8945664        1
1040           1
Name: size, dtype: int64

In [6]:
filesize_mb = df_unit07["size"].value_counts().index[0] / 1024e3

In [7]:
filesize_mb

876.4653203125

The SD card size is 128 GB, so with the per file size seen above:

In [8]:
file_num_allowed = 128e3 / filesize_mb
file_num_allowed

146.0411462194102

Each file is 30-min long, so the max time we can go is around ~72 hrs if recording continuously, even with the added battery pack.